body {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  color: #5c6b84;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

nav {
  padding-left: 3%;
}
.redesLanding {
  padding-right: 3%;
}
i {
  color: #5c6b84;
}
/* Menú desplegable */
.menuDesplegable {
  width: 25px;
  height: 3px;
  background-color: #5c6b84;
  margin: 5px 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdown-content a {
  color: #5c6b84;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* fin del menu desplegable */
section {
  padding: 1% 15%;
  font-family: "Josefin Sans", sans-serif;
  color: #5c6b84;
  font-size: 18px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
h1 {
  padding-left: 50px;
}
