section {
  display: flex;
  justify-content: center;
  height: 75vh;
}

body {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  color: #5c6b84;
}
header {
  display: flex;
  align-items: center;
  padding: 1.5% 4%;
  justify-content: space-between;
}

.fab:hover {
  color: #9d9fa1;
}

/* Menú desplegable */
.menuDesplegable {
  width: 25px;
  height: 3px;
  background-color: #5c6b84;
  margin: 5px 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdown-content a {
  color: #5c6b84;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* Fin del menú desplegable */

.imagenes_landing {
  width: 100%;
  height: 100%;
}
.imagenes_landing:hover {
  filter: opacity(0.8);
}
/* .imagenes_landing {
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: transform, opacity;
  transition-duration: 0.8s, 0.8s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1),
    cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0s, 0s;
} */

.ColumnaRestauraciónLanding {
  padding-left: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  text-align: left;
  color: white;
  width: 49%;
}
.ColumnaRenovaciónLanding {
  padding-left: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  text-align: left;
  color: white;
  width: 49%;
}

a:-webkit-any-link {
  color: #5c6b84;
  cursor: pointer;
  text-decoration: none;
}

.ColumnaRenovaciónLanding .textoDescripción {
  right: 30%;
  bottom: 17%;
  margin: 0px;
  position: fixed;
}

.ColumnaRestauraciónLanding .textoDescripción {
  left: 4%;
  bottom: 17%;
  margin: 0px;
  position: fixed;
}

.textoDescripción:hover {
  color: #9d9fa1;
}
.contenedorFooter {
  display: block;
}

footer {
  display: flex;
  justify-content: space-around;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 25px;
  font-family: "Josefin Sans", sans-serif;
}

/*-----MEDIA QUERIES------------------------------------*/

@media (max-width: 768px){
  section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 94%;
    justify-content: space-evenly;
  }
  body {
    height: 85vh;
  }
  .ColumnaRestauraciónLanding  {
    width: 100%;
  }
  .ColumnaRenovaciónLanding{
    width: 100%;
    padding: 0;
  }
  .ColumnaRestauraciónLanding .textoDescripción {
    left: 4%;
    bottom: 53%;
    margin: 0px;
    position: fixed;
  }  
  .ColumnaRenovaciónLanding .textoDescripción {
    left: 4%;
    bottom: 16%;
    margin: 0px;
    position: fixed;
}
  .imagenes_landing{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  footer{
    padding: 15px 0px;
    width: 100%;
  }
  .contenedorFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    max-width: 95%;
  }
  .redesLanding {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}