body {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  color: #5c6b84;
}

header {
  display: flex;
  align-items: center;
  padding: 1.5% 4%;
  justify-content: space-between;
}

nav {
  padding-left: 3%;
}
.redesLanding {
  padding-right: 3%;
}

i {
  color: #5c6b84;
}
/* Menú desplegable */
.menuDesplegable {
  width: 25px;
  height: 3px;
  background-color: #5c6b84;
  margin: 5px 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10%;
  font-family: "Josefin Sans", sans-serif;
}

.dropdown-content a {
  color: #5c6b84;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* fin del menu desplegable */
section {
  padding: 2% 5%;
  font-family: "Josefin Sans", sans-serif;
  color: #5c6b84;
  font-size: 18px;
}

.col-md-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.image_articulo1ren {
  width: 100%;
  border-radius: 20px;
}

#pieDePagina {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.textoArticulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  padding-left: 5%;
}
.textoDestacado {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  padding-left: 5%;
  color: #465163;
}
h1 {
  padding: 3%;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}
.palabrasExtranjeras {
  font-style: italic;
}

.iframeYoutube {
  padding-left: 17%;
}

.imagenesDerecha {
  width: 100%;
  margin-bottom: 100px;
  border-radius: 15px;
}

.bulletCage {
  padding: 10px;
  width: 80%;
  padding-left: 5%;
  font-style: italic;
}

.bullet {
  padding-bottom: 10px;
}

/* clase para este iconito para bullets al inicio de los artículos: <i class="fas fa-brush bulletIcon" ></i> */
.bulletIcon {
  color: #1d840e;
  padding: 5px;
}
